{% extends 'back/back_base.html.twig' %}



{% block body %}
  <h2 class="text-center text-dark fst-normal">Create a Teacher</h2>

    {{ include('back/teacher/_form.html.twig') }}

    <a href="{{ path('app_back_teacher_index') }}" class="btn btn-dark w-100 fst-normal">back to list</a>
{% endblock %}
