{% extends 'base.html.twig' %}

{% block title %}New Teacher{% endblock %}

{% block body %}
    <h1>Create new Teacher</h1>

    {{ include('back/teacher/_form.html.twig') }}

    <a href="{{ path('app_back_teacher_index') }}">back to list</a>
{% endblock %}
