{% extends 'back/back_base.html.twig' %}

{% block title %}New Circuit{% endblock %}

{% block body %}
   <h2 class="text-center text-dark fst-normal">create a new Circuit</h2>

    {{ include('back/circuit/_form.html.twig') }}

    <a href="{{ path('app_back_circuit_index') }}" class="btn btn-dark w-100 fst-normal">back to list</a>
{% endblock %}
