{% extends 'back/back_base.html.twig' %}


{% block body %}
   <h2 class="text-center text-dark fst-normal">Edit a Student</h2>

    {{ include('back/student/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_student_index') }}" class="btn btn-dark w-100 fst-normal">back to list</a>

    {{ include('back/student/_delete_form.html.twig') }}
{% endblock %}
