{% extends 'back/back_base.html.twig' %}



{% block body %}
 <h2 class="text-center text-dark fst-normal">Creat a new Student</h2>

    {{ include('back/student/_form.html.twig') }}

    <a href="{{ path('app_back_student_index') }}" class="btn btn-dark w-100 fst-normal">back to list</a>
{% endblock %}
